@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Source+Sans+Pro:ital,wght@1,300&display=swap');



h3{
    background-color: rgb(255, 100, 0);
}

p.top{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    word-spacing: 4.5rem;
    font-family: 'Poppins';
}

p#bottom{
    border: 5px solid black;
    font-size: 20px;
    /* padding: 20px;    
    border-radius: 10px;
    margin: 10px; */
    /* padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 40px; */
    /* padding: 20px 40px; */
    /* margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 10px; */
    margin: 20px 40px;
}

.categories{
    border: 5px solid black;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Poppins';
}
.categories h2{
    text-align: center;
    text-transform: uppercase;
}

.categories ul{
    /* padding: 0;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: black;
}

.categories a:hover{
    color: orange;
}

.categories li{
    margin-bottom: 15px;
    border-bottom: 1px dotted blue;
} */